
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
}

.navbar {
  background-color: #fff;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.navbar-brand {
  display: inline-block;
  padding: 0;
}

.navbar-brand img {
  max-height: 50px;
}

.navbar-nav {
  margin: 0;
}

.nav-link {
  padding: 10px;
  color: #333;
}

.nav-link:hover {
  color: #000;
}

/* Set main content styles */
.cmp-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.cmp-product-details-main_heading {
  margin: 0;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}

.cmp-product-details-main_sub-heading {
  font-size: 18px;
  color: #999;
  margin-top: 5px;
  text-align: center;
}

.card-img-top {
  max-width: 100%;
}

.cmp-product-details-main_description {
  margin-top: 20px;
}

.Ingredients,
.Nutrition {
  width: 50%;
  display: inline-block;
  vertical-align: top;
  padding: 10px;
  /* text-align: center; */
}

.Ingredients h2,
.Nutrition h2 {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.Ingredients ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.Ingredients li {
  padding: 5px 0;
  border-bottom: 1px solid #ccc;
}

.Nutrition table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.Nutrition td {
  padding: 5px;
  border-bottom: 1px solid #ccc;
}

.Nutrition td:first-child {
  font-weight: bold;
}


